@{
    ViewData["title"] = "500 Internal Server Error";
}
<div class="col-md-12 text-center">
    <h1>500</h1>
    <h2>@SharedLocalizer["errorTitleInternal500"]</h2>
    <p>
        @SharedLocalizer["errorMessageLoadingFailed"]
    </p>
    <p>
        @SharedLocalizer["errorSuggestionReturnLate"]
    </p>
    <a href="/" class="btn btn-outline-secondary">@SharedLocalizer["Go Home"]</a>
</div>
