<div class="d-flex align-items-center mr-3">
    <span class="avatar-lg d-flex justify-content-center align-items-center bg-white border rounded">
        <i class="far fa-building fa-2x text-secondary"></i>
    </span>
</div>
